# pdf_test

In [1]:
import pandas as pd

In [2]:
import dataframe_image as dfi

In [3]:
data = {'Column_1': [item for item in range(10)],
        'Column_2': [item for item in range(10)],
        'Column_3': [item for item in range(10)],
        'Column_4': [item for item in range(10)],
        'Column_5': [item for item in range(10)],
        'Column_6': [item for item in range(10)],
        'Column_7': [item for item in range(10)],
        'Column_8': [item for item in range(10)],
        'Column_9': [item for item in range(10)],
        'Column_10': [item for item in range(10)],
        'Column_11': [item for item in range(10)],
        'Column_12': [item for item in range(10)],
        'Column_13': [item for item in range(10)],
        'Column_14': [item for item in range(10)],
        'Column_15': [item for item in range(10)],
        'Column_16': [item for item in range(10)],
        'Column_17': [item for item in range(10)],
        'Column_18': [item for item in range(10)],
        'Column_19': [item for item in range(10)],
        'Column_20': [item for item in range(10)]
       }

In [4]:
df = pd.DataFrame(data)

In [5]:
df

,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8,Column_9,Column_10,Column_11,Column_12,Column_13,Column_14,Column_15,Column_16,Column_17,Column_18,Column_19,Column_20
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9

In [6]:
dfi.export(df, 'dfi_test.png')

**Note: table shown below is a png displayed in a markdown cell** with `<img src='dfi_test.png' width="1000" height="1000" align="center"/>`

<img src='dfi_test.png' width="1000" height="1000" align="center"/>