# Analyzing Police Activity with pandas

Exercise created by Kevin Markham, founder of Data School
Download full dataset for any of the 31 states involved at: [https://openpolicing.stanford.edu/](https://openpolicing.stanford.edu/)

**Goals:**
* Explore the Stanford Open Policing Project dataset and analyze the impact of gender on police behavior. 
* Gain more practice cleaning messy data, creating visualizations, combining and reshaping datasets, and manipulating time series data.

**About the data:**

* Each row represents one traffic stop
* `NaN` values present

* **`.isnull()`** : returns a boolean array; see also **`.isna()`**
* **`.drop()`** : `ri.drop('column_name', axis = 'columns', inplace = True)`
* **`.dropna()`** : `ri.dropna(subset=['stop_date', 'stop_time'], inplace = True)` # Only drops rows with`NaN`s specifically in the columns `stop_date` and `stop_time`
* **`.astype()`** : to change data type

* **Note:** you must use **bracket notation** on the left side of an assignment statement to create a new series or overwrite an existing one

* `datetime` columns provide date-based attributes
* **`.str.cat()`** concatenate strings (as opposed to `pd.concat()` for pd.Series); use argument `sep=' '` to separate with a space (or character of your choice)
* **`pd.to_datetime()`** : convert a string to a datetime object; if no time is entered, defaults to midnight
* **`.set_index()`** to set a column as the index; use `inplace = True` to avoid assignment statement
* **Note:** When an existing column becomes the index, it is no longer considered to be one of the dataframe columns.
* **`value_counts()`** : counts the unique values in a Series; best suited for categorical rather than numerical data; use **`normalize = True`** to express counts as proportions