# Khushboo NLP

In [ ]:
import pandas as pd
import spacy_sentence_bert

In [ ]:
nlp = spacy_sentence_bert.load_model('en_stsb_roberta_large')

In [ ]:
df = pd.read_csv('khushboo.csv')

In [ ]:
df = df.iloc[:,:2]

In [ ]:
similarityValue = []

In [ ]:
for i in range(df.count()[0]):
    Saved_Query = nlp(df.iloc[i][0])
    New_Query = nlp(df.iloc[i][1])
    similarityValue.append(Saved_Query.similarity(New_Query))
    print(Saved_Query, '|', New_Query, '|', Saved_Query.similarity(New_Query))

In [ ]:
df['Similarity'] = similarityValue

In [ ]:
df

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('khushboo.csv')

In [3]:
df.head()

,Saved_Query,New_Query,Unnamed: 2,Unnamed: 3
0,I really do not like this product,I really like this product,NaN,NaN
1,Where can I view my settings,I can't find the settings page,NaN,NaN
2,How much will this cost?,Is this expensive?,NaN,NaN
3,How do I change my password,change How I do password my,NaN,NaN
4,Blah blah blah blah,Can I get some help?,NaN,NaN

In [5]:
for lab, row in df.iterrows():
    df.loc[lab, "name_length"] = len(row["Saved_Query"])
print(df)

                         Saved_Query                                New_Query  \
0  I really do not like this product               I really like this product
1       Where can I view my settings           I can't find the settings page
2           How much will this cost?                       Is this expensive?
3        How do I change my password              change How I do password my
4                Blah blah blah blah                     Can I get some help?
5      Hello, is there anyone there?          Does this integrate with gmail?
6         Where is your data stored?               How secure is your product
7      What temperature is it today?      What time is the film in the cinema
8     Can I sign up for a free trial  Do I need a credit card to get started?
9    What is the Capital of Ireland?                What time is the game on?

   Unnamed: 2 Unnamed: 3  name_length
0         NaN        NaN         33.0
1         NaN        NaN         28.0
2         NaN        NaN         24.0
3         NaN        NaN         27.0
4         NaN        NaN         19.0
5         NaN        NaN         29.0
6         NaN                    26.0
7         NaN        NaN         29.0
8         NaN        NaN         30.0
9         NaN        NaN         31.0

In [6]:
df.loc[1, "name_length"]

28.0