# Stackshare

In [1]:
import pandas as pd

In [2]:
kub = pd.read_csv('~/Downloads/kubernetes_enrichment_export.csv')

In [3]:
mf = pd.read_csv('~/Downloads/metaflow_enrichment_export.csv')

In [4]:
kub.head()

,Tool Name,cloudIps,githubRepositories,websiteSources,Unnamed: 4,mxRecords,dnsRecords
0,Google Cloud,77.0,6.0,7.0,NaN,NaN,NaN
1,jQuery,NaN,5.0,18.0,NaN,NaN,NaN
2,NGINX,NaN,5.0,6.0,NaN,NaN,NaN
3,Moment.js,NaN,1.0,5.0,NaN,NaN,NaN
4,Go,NaN,65.0,NaN,1.0,NaN,NaN

In [5]:
mf.head()

,Tool Name,dnsRecords,cloudIps,githubRepositories,mxRecords,websiteSources
0,Amazon Web Services,4.0,1.0,NaN,NaN,NaN
1,TensorFlow,NaN,NaN,13.0,NaN,NaN
2,NumPy,NaN,NaN,12.0,NaN,NaN
3,SciPy,NaN,NaN,10.0,NaN,NaN
4,Matplotlib,NaN,NaN,10.0,NaN,NaN

In [6]:
mf.to_excel(r'~/Desktop/metaflow_enrichment_export.xlsx', index = None, header=True)