# Relax, Inc. Take Home Challenge

The data is available as two attached CSV files:

* `takehome_user_engagement.csv`
* `takehome_users.csv`

The data has the following two tables:

**1.** A user table (**`takehome_users`**) with data on 12,000 users who signed up for the product in the last two years. This table includes:
* `name`: the user's name
* `object_id`: the user's id
* `email`: email address
* `creation_source`: how their account was created. This takes on one of 5 values:
    * `PERSONAL_PROJECTS`: invited to join another user's personal workspace
    * `GUEST_INVITE`: invited to an organization as a guest (limited permissions)
    * `ORG_INVITE`: invited to an organization (as a full member)
    * `SIGNUP`: signed up via the website
    * `SIGNUP_GOOGLE_AUTH`: signed up using Google Authentication (using a Google email account for their login id)
* `creation_time`: when they created their account
* `last_session_creation_time`: unix timestamp of last login
* `opted_in_to_mailing_list`: whether they have opted into receiving marketing emails
* `enabled_for_marketing_drip`: whether they are on the regular marketing email drip
* `org_id`: the organization (group of users) they belong to
* `invited_by_user_id`: which user invited them to join (if applicable).

**2.** A usage summary table (**`takehome_user_engagement`**) that has a row for each day that a user logged into the product.

**Goal:** Defining an "adopted user" as a user who has logged into the product on three separate days in at least one seven-day period, identify which factors predict future user adoption.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [ ]:
'''
import datetime as dt

from sklearn.model_selection import RandomizedSearchCV, cross_val_score, train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import plot_confusion_matrix, precision_recall_fscore_support, plot_precision_recall_curve, balanced_accuracy_score

import xgboost as xgb

from sklearn.metrics import plot_roc_curve

import shap

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_validate

from sklearn.model_selection import train_test_split
'''

In [12]:
users = pd.read_csv('takehome_users.csv', parse_dates=['creation_time'])
users = users.reset_index(drop=True)
#(drop=True, inplace=True)
users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [4]:
.reset_index(drop=True, inplace=True)

SyntaxError: invalid syntax (<ipython-input-4-d23571d655d7>, line 1)