# Test: Global Wheat Challenge

In [1]:
import numpy as np
import pandas as pd

In [2]:
#train.info()

In [3]:
#train.image_id.nunique()

In [4]:
#train.source.unique().tolist()

#### Folders: 
* images

* competition_test.csv

* competition_train.csv

* competition_val.csv

* metadata_dataset.csv

In [5]:
metadata = pd.read_csv('gwhd_2021/metadata_dataset.csv', sep=';')

In [6]:
metadata.head()

             name      country    location   development_stage
0          Ethz_1  Switzerland       Usask             Filling
1          Rres_1           UK  Rothamsted  Filling - Ripening
2  ULiège-GxABT_1      Belgium    Gembloux            Ripening
3          NMBU_1       Norway        NMBU             Filling
4          NMBU_2       Norway        NMBU            Ripening

In [7]:
metadata.name.unique()

array(['Ethz_1', 'Rres_1', 'ULiège-GxABT_1', 'NMBU_1', 'NMBU_2',
       'Arvalis_1', 'Arvalis_2', 'Arvalis_3', 'Arvalis_4', 'Arvalis_5',
       'Arvalis_6', 'Arvalis_7', 'Arvalis_8', 'Arvalis_9', 'Arvalis_10',
       'Arvalis_11', 'Arvalis_12', 'Inrae_1', 'Usask_1', 'KSU_1', 'KSU_2',
       'KSU_3', 'KSU_4', 'Terraref_1', 'Terraref_2', 'CIMMYT_1',
       'CIMMYT_2', 'CIMMYT_3', 'Utokyo_1', 'Utokyo_2', 'Utokyo_3',
       'Ukyoto_1', 'NAU_1', 'NAU_2', 'NAU_3', 'UQ_1', 'UQ_2', 'UQ_3',
       'UQ_4', 'UQ_5', 'UQ_6', 'UQ_7', 'UQ_8', 'UQ_9', 'UQ_10', 'UQ_11',
       'ARC_1'], dtype=object)

In [8]:
metadata.country.unique()

array(['Switzerland', 'UK', 'Belgium', 'Norway', 'France', 'Canada', 'US',
       'Mexico', 'Japan', 'China', 'Australia', 'Sudan'], dtype=object)

In [9]:
metadata.location.unique()

array(['Usask', 'Rothamsted', 'Gembloux', 'NMBU', 'Gréoux', 'VLB', 'VSC',
       'Mons', 'Toulouse', 'Saskatchewan', 'KSU', 'Maricopa,AZ',
       ' Maricopa,AZ', 'Ciudad Obregon', 'NARO-Tsukuba', 'NARO-Hokkaido',
       'Kyoto', 'Baima', 'Gatton', 'McAllister', 'Brookstead',
       'Wad Medani'], dtype=object)

In [10]:
metadata.development_stage.unique()

array(['Filling', 'Filling - Ripening', 'Ripening', 'Post-flowering',
       'multiple', 'Post-Flowering'], dtype=object)

In [11]:
test = pd.read_csv('gwhd_2021/competition_test.csv')

In [12]:
test

,image_name,BoxesString,domain
0,255b6ca9fea63f44125e5174bc932470b604c760430715...,481 820 604 922;655 957 732 1024;930 926 1013 ...,UQ_7
1,7f5eb37cab658de6fd0d688bf27f16e423794fed6184d8...,896 911 977 955;800 898 821 941;770 867 804 90...,UQ_7
2,7bcfff43b356f4a94948367782aa704a37ff4579baf45d...,892 993 922 1024;844 943 871 965;758 926 801 9...,UQ_7
3,e535384eda9d0f9c6ac57dd9397d5d614e4cad48c144d8...,648 886 722 1024;392 950 507 1024;876 677 981 ...,UQ_7
4,66e9fa7379fd7b7fd64024ac1b03b8e56f9ad020c10635...,559 939 623 1009;775 875 829 919;853 883 888 9...,UQ_7
...,...,...,...
1377,36064fc36d5d54025c3bafcb0e061cc81347389cc85927...,88 315 166 477;242 506 288 641;131 622 180 752...,ARC_1
1378,92e363996758d6261726abf33f7555b4f1503306b19887...,179 420 230 497;65 379 134 422;114 281 173 358...,ARC_1
1379,982dfbbc5b5eca9017fe407b9befdd3e709600ce9ae446...,81 161 182 302;235 199 365 289;0 290 111 413;4...,ARC_1
1380,385345ab4b25350b8f2fc7ab86b258271dd35b5558b4ab...,539 636 774 711;439 732 599 865;635 847 892 94...,ARC_1
1381,6eeb8859956a3797f72bc8449b1c526deeacf6af3dbef1...,78 816 183 922;180 815 245 920;417 802 525 100...,ARC_1

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1382 entries, 0 to 1381
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   image_name   1382 non-null   object
 1   BoxesString  1382 non-null   object
 2   domain       1382 non-null   object
dtypes: object(3)
memory usage: 32.5+ KB

In [21]:
len(test.image_name.unique())

1381

In [14]:
train = pd.read_csv('gwhd_2021/competition_train.csv')

In [15]:
train.head()

,image_name,BoxesString,domain
0,4563856cc6d75c670eafd86d5eb7245fbe8f273c28f9e3...,99 692 160 764;641 27 697 115;935 978 1012 102...,Arvalis_1
1,a2a15938845d9812de03bd44799c4b1bf856a8ad11752e...,230 143 321 222;928 929 1015 1004;485 557 604 ...,Arvalis_1
2,401f89a2bb6ab63e3f406bd59b9cadccfe953230feb6cd...,440 239 544 288;333 538 429 594;913 171 963 20...,Arvalis_1
3,0a3937653483c36dfb4d957b6f82ae96dbdc7ba36cc3d8...,112 274 188 303;892 812 958 847;0 889 67 928;1...,Arvalis_1
4,be1652110a44acd24b42784356e965ce84a04893c3f1bb...,810 204 863 314;360 231 425 408;452 348 510 47...,Arvalis_1

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3657 entries, 0 to 3656
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   image_name   3657 non-null   object
 1   BoxesString  3657 non-null   object
 2   domain       3657 non-null   object
dtypes: object(3)
memory usage: 85.8+ KB

In [22]:
len(train.image_name.unique())

3655

In [24]:
train[train.duplicated()]

Empty DataFrame
Columns: [image_name, BoxesString, domain]
Index: []

In [25]:
train.image_name[train.image_name.duplicated()]

2070    d88963636d49127bda0597ef73f1703e92d6f111caefc4...
2079    1961bcf453d5b2206c428c1c14fe55d1f26f3c655db0a2...
Name: image_name, dtype: object

In [26]:
dupes = train.sort_values("image_name")
dupes[dupes.duplicated()]

Empty DataFrame
Columns: [image_name, BoxesString, domain]
Index: []

In [27]:
train['image_name'].iloc[2070]

'd88963636d49127bda0597ef73f1703e92d6f111caefc44902d5932b8cd3fa94.png'

In [28]:
train['image_name'].iloc[2079]

'1961bcf453d5b2206c428c1c14fe55d1f26f3c655db0a2b6a83094476e8edb5b.png'

In [29]:
train.iloc[2070]

image_name     d88963636d49127bda0597ef73f1703e92d6f111caefc4...
BoxesString    312 994 364 1024;177 756 296 869;88 118 147 17...
domain                                                Arvalis_12
Name: 2070, dtype: object

In [30]:
train.iloc[2079]

image_name     1961bcf453d5b2206c428c1c14fe55d1f26f3c655db0a2...
BoxesString    3 944 58 985;876 506 919 555;770 859 834 903;9...
domain                                                Arvalis_12
Name: 2079, dtype: object

In [36]:
train[train.image_name == '1961bcf453d5b2206c428c1c14fe55d1f26f3c655db0a2b6a83094476e8edb5b.png']

,image_name,BoxesString,domain
1999,1961bcf453d5b2206c428c1c14fe55d1f26f3c655db0a2...,264 164 370 296;388 196 464 330;466 328 698 44...,Arvalis_10
2079,1961bcf453d5b2206c428c1c14fe55d1f26f3c655db0a2...,3 944 58 985;876 506 919 555;770 859 834 903;9...,Arvalis_12

In [37]:
train[train.image_name == 'd88963636d49127bda0597ef73f1703e92d6f111caefc44902d5932b8cd3fa94.png']

,image_name,BoxesString,domain
1986,d88963636d49127bda0597ef73f1703e92d6f111caefc4...,994 8 1024 64;864 0 1012 92;642 18 772 102;616...,Arvalis_10
2070,d88963636d49127bda0597ef73f1703e92d6f111caefc4...,312 994 364 1024;177 756 296 869;88 118 147 17...,Arvalis_12

In [17]:
val = pd.read_csv('gwhd_2021/competition_val.csv')

In [18]:
val.head()

,image_name,BoxesString,domain
0,e6b6a900e5c54cd5d8b0649768c361512cff1813409319...,0 30 109 119;453 617 561 661;450 441 652 493;5...,Usask_1
1,53889799be1319296f102fa09a512463c27316a428bb9f...,38 370 88 443;924 824 964 874;0 191 39 265;828...,Usask_1
2,ec8f9365ca93eb9dab075c64e5c8b32edd4f8993e17b89...,884 932 1024 990;828 53 1024 206;607 633 681 7...,Usask_1
3,48bab0505514c876207b4ede1c60cc906947ca02bb4277...,284 114 352 181;421 0 533 90;910 326 954 409;8...,Usask_1
4,44bf4657132a886bea1b74e105c3aadfa41ba7a2ae9d7a...,94 0 241 183;173 217 318 338;401 371 606 472;3...,Usask_1

In [19]:
val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1476 entries, 0 to 1475
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   image_name   1476 non-null   object
 1   BoxesString  1476 non-null   object
 2   domain       1476 non-null   object
dtypes: object(3)
memory usage: 34.7+ KB

In [23]:
len(val.image_name.unique())

1476